<header class="sticky top-0 z-50 transition-all duration-300
         border-b border-gray-800
         bg-gradient-to-b from-gray-900 to-gray-950"
         [style.--header-height.px]="isScrolled ? 50 : 70"
         [ngClass]="{ 'backdrop-blur bg-gray-700/50 shadow-lg': isScrolled }">
  <nav class="app-container flex items-center justify-between transition-all duration-900"
      style="height: var(--header-height);">
      <a routerLink="/"
        class="flex items-center gap-1 text-white cursor-pointer select-none group
              transition-transform duration-300"
          [class.scale-95]="isScrolled">
        <div
          class="w-10 h-10 rounded-full bg-gradient-to-br from-red-800 to-red-950 flex items-center justify-center shadow-lg">
          <svg class="w-6 h-6 text-red-300 group-hover:text-red-400 transition-colors duration-500"
            viewBox="0 0 24 24"
            fill="currentColor">
            <path d="M3 20V4h4l5 9 5-9h4v16h-3V9l-6 11L6 9v11H3z"/>
          </svg>
        </div>
        <span class="text-lg font-semibold tracking-widest uppercase">
          ovSY
        </span>
      </a>
    <div class="flex items-center gap-5 text-gray-400 text-sm">
      <a routerLink="/favourites" routerLinkActive="text-white"
        class="flex items-center gap-1 text-gray-400 text-sm
              transition group hover:text-white">
        <svg class="w-5 h-5 stroke-current text-red-600
                group-hover:text-red-500 transition-colors duration-300"
          fill="none" stroke-width="2" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3 8l7.5 8L21 8H3z"/>
        </svg>
        Favourites
      </a>

      <a routerLink="/watchlist" routerLinkActive="text-white"
        class="flex items-center gap-1 text-gray-400 text-sm
              transition group hover:text-white">
        <svg class="w-5 h-5 stroke-current text-yellow-500
                  group-hover:text-yellow-400 transition-colors duration-300"
          fill="none" stroke-width="2" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M5 4h14v16l-7-4-7 4V4z"/>
        </svg>
        Watchlist
      </a>
        
      <button class="flex items-center gap-1 px-4 py-1.5 rounded transition w-28 h-10"
          [ngClass]="{
              'border border-green-600 text-green-500 hover:bg-green-800 hover:border-green-800 hover:text-white': !isLoggedIn,
              'border border-red-600 text-red-500 hover:bg-red-600 hover:text-white': isLoggedIn
          }"
          (click)="isLoggedIn ? logOut() : showLoginForm()">
              <svg class="w-5 h-5 stroke-current transition-transform"
              [ngClass]="{'rotate-180': isLoggedIn}" fill="none" stroke-width="2" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 12H3m0 0l4-4m-4 4l4 4m6-12v16"/>
              </svg>
              {{ isLoggedIn ? 'Logout' : 'Login' }}
      </button>
    </div>
  </nav>
</header>
