<div class="sticky top-0 z-40 h-screen w-16 bg-neutral-900 text-gray-400 flex flex-col py-12 gap-28">
	<div *ngFor="let cat of categories"
		(click)="select(cat.value)"
		[ngClass]="selectedCategory === cat.value
		? 'text-red-600'
		: 'hover:text-white'"
		class="flex items-center justify-center group relative transition-colors duration-300 cursor-pointer">
		<span
			class="absolute top-1/2 left-3/4 -translate-y-1/2 ml-2 text-lg font-light tracking-widest whitespace-nowrap transition-opacity duration-300"
			[ngClass]="{
			'opacity-100': selectedCategory === cat.value,
			'opacity-0 group-hover:opacity-100': selectedCategory !== cat.value
			}"
			style="writing-mode: vertical-rl; transform: translateY(-50%) rotate(180deg);">
			{{ cat.label }}
		</span>
		<span class="text-2xl font-bold transition-transform duration-300 group-hover:scale-125">{{ cat.label[0] }}</span>
	</div>
</div>
