@tailwind base;
@tailwind components;
@tailwind utilities;

@import "primeicons/primeicons.css";

:host ::ng-deep .p-menubar {
  height: 70px;
  width: 100%;
}

:host ::ng-deep .p-menubar-start,
:host ::ng-deep .p-menubar-end {
  display: flex;
  align-items: center;
}
